<div class="container">
  <header></header>

  <nav class="navbar">
    <ul class="left-menu">
      <li>
        Score:
      </li>
      <li class="score-value">
        {{ score }}
      </li>
      <button class="btn" (click)="begin()">
        Go!
      </button>
      <button class="btn-secondary" (click)="reset()">
        Reset
      </button>
    </ul>
  </nav>
  <hr />
  <div class="tetris">
    <canvas class="primary" #canvas></canvas>
    <div>
      <canvas
        (click)="canvasClick($event)"
        class="secondary"
        #canvasnext
      ></canvas>
      <div>
        <i class="fas fa-history"> x{{ speedBoosts }}</i>
      </div>
      <div class="test-font">
        Slower fall rate for 1 turn
      </div>
      <div>
        <i class="fas fa-gift"> x{{ customBlocks }}</i>
      </div>

      <div class="test-font">
        Click 4 times on next block section to create your own (also slows fall
        rate)
      </div>
    </div>
    <div class="controls">
      <div>
        <i class="far fa-caret-square-up"> Rotate</i>
      </div>
      <div>
        <i class="far fa-caret-square-right"> Move Right</i>
      </div>
      <div>
        <i class="far fa-caret-square-left"> Move Left</i>
      </div>
      <div>
        <i class="far fa-caret-square-down"> Move Down</i>
      </div>
      <div>
        <i class="far"> Or WASD</i>
      </div>
      <br />
      <div>
        <i class="fas fa-history">
          <span class="test"> Slow Time</span>
          <div class="test">(X)</div>
        </i>
      </div>
      <div>
        <i class="fas fa-gift">
          <span class="test"> Custom Block</span>
          <div class="test">(Z)</div></i
        >
      </div>
    </div>
  </div>
  <hr />
</div>
