
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
canvas {
    /* height: 800px;
    width: 600px; */
    background: rgb(30, 32, 32);
    border:5px solid grey;
}

* {
    font-family: 'Varela Round', sans-serif;
} 