<div class="container">
  <header></header>

  <nav class="navbar">
    <ul class="left-menu">
      <li>
        Score:
      </li>
      <li class="score-value">
        {{ score }}
      </li>
      <button class="btn" (click)="begin()">
        Go!
      </button>
      <button class="btn-secondary" (click)="reset()">
        Reset
      </button>
    </ul>
  </nav>
  <div class="tetris">
    <canvas #canvas></canvas>
    <div class="controls">
      <h1>Controls</h1>
      <div>
        <i class="far fa-caret-square-up"> Rotate</i>
      </div>
      <div>
        <i class="far fa-caret-square-right"> Move Right</i>
      </div>
      <div>
        <i class="far fa-caret-square-left"> Move Left</i>
      </div>
      <div>
        <i class="far fa-caret-square-down"> Move Down</i>
      </div>
    </div>
  </div>
</div>
