/*Suppose you want minimum width of 1000px*/
/* Firefox will set width as auto */
/* As IE6 ignores !important it will set width as 1000px; */
/* body{
    min-width:2000px;      
    width: auto !important;  
    width:2000px;             
 } */
 

 a {
     color: #262626;
     text-decoration: none;
 }
 ul {
    list-style-type: none;
 }

 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 600;
}
 
.navbar ul {
    display:flex;
}
.navbar ul li {
    padding: 0 10px;
}
.left-menu li a {
    padding-bottom: 2px;
}
.left-menu li a:hover {
    border-bottom: 2px solid #262626;
    
}