<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/visualiser" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Algorithm Visualiser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tetris" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Tetris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="container">
<nav class="navbar">
  <ul class="left-menu">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Home</a></li>
    <li><a routerLink="/visualiser" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Algorithm Visualiser</a></li>
    <li><a routerLink="/tetris" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Tetris</a></li>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}">Contact</a></li>
  </ul>
  <ul class="right-menu">
    <li>
      <a href="#"><i class="fab fa-github fa-lg"></i></a>
    </li>
    <li><a href=""><i class="fab fa-linkedin fa-lg"></i></a></li>
  </ul>
  
</nav>
</div>
<router-outlet></router-outlet>
<!-- <app-quicksort></app-quicksort> -->