<div class="container">
  <nav class="navbar">
    <div class="left-container">
      <ul class="left-menu">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/visualiser"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Algorithm Visualiser</a
          >
        </li>
        <li>
          <a
            routerLink="/tetris"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Tetris</a
          >
        </li>
        <li>
          <!-- <a
          routerLink="#"
          href="mailto:manish_k@hotmail.co.uk"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact</a -->
          <a href="mailto:manish_k@hotmail.co.uk">Email me</a>
        </li>
      </ul>
    </div>
    <ul class="right-menu">
      <li>
        <a href="https://github.com/manish-dk" alt="Github" target="_blank"
          ><i class="fab fa-github fa-lg"></i
        ></a>
      </li>
      <li id="linkedin">
        <a
          href="https://www.linkedin.com/in/manish-k-671a5a184/"
          alt="LinkedIn"
          target="_blank"
          ><i class="fab fa-linkedin fa-lg"></i
        ></a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  Copyright &copy; 2020
</footer>
