<div class="container">
  <header></header>

  <nav class="navbar">
    <ul class="left-menu">
      <li>
        <a>Algorithm:<span class="sr-only"></span></a>
      </li>
      <li class="dropdown-current">
        <a>
          {{ currentAlgorithm }}
        </a>
        <i class="fas fa-caret-down"></i>
        <div class="dropdown-section">
          <a
            #algo
            (click)="selectAlgo(algo.innerText)"
            *ngFor="let algorithm of algorithms"
            ><div class="dropdown-item">{{ algorithm }}</div></a
          >
        </div>
      </li>
      <li class="dropdown-current">
        <a>
          {{ currentOrder }}
        </a>
        <i class="fas fa-caret-down"></i>
        <div class="dropdown-section">
          <a
            #ordr
            (click)="selectOrder(ordr.innerText)"
            *ngFor="let order of orders"
            ><div class="dropdown-item">{{ order }}</div></a
          >
        </div>
      </li>
      <button class="btn" (click)="sort()">
        Go!
      </button>
      <button class="btn-secondary" (click)="this.ngOnInit()">
        Reset
      </button>
    </ul>
    <ul class="right-menu">
      <li>
        <a>No. of Lines:<span></span></a>
      </li>
      <li class="dropdown-current">
        <a>
          {{ currentArraySize }}
        </a>
        <i class="fas fa-caret-down right-end"></i>
        <div class="dropdown-section">
          <a
            #size
            (click)="selectArraySize(size.innerText)"
            *ngFor="let arraysize of arraySizes"
            ><div class="dropdown-item">
              {{ arraysize }}
            </div></a
          >
        </div>
      </li>
    </ul>
  </nav>
  <hr />
  <div *ngFor="let line of lines" [ngStyle]="{ 'margin.px': 5 }">
    <div class="col-1">
      <i
        *ngIf="displayChevron() && line.isActive"
        class="fas fa-arrow-right"
      ></i>
    </div>
    <div>
      <app-line
        [value]="line.value"
        [isMinimum]="line.isMinimum"
        [isActive]="line.isActive"
        [isSecondary]="line.isSecondary"
        [height]="line.height"
      ></app-line>
    </div>
  </div>
  <hr class="end" />
</div>
