/* You can add global styles to this file, and also import other style files */
:root {
  --text-colour: aliceblue;
  --main-bg-colour: rgb(30, 32, 32);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(30, 32, 32);
  color: #000;
  font-size: 22px;
  line-height: 1.5;
  margin-top: 60px;
}
hr {
  color: aliceblue;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

.btn {
  background-color: #191a19; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.btn-secondary {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn-secondary:hover {
  opacity: 1;
}
