<!-- <div class="image">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 mx-auto align-self-cente">
            <div class="text-center h1" [ngStyle]="{color:'white'}">
                MANISH KOTECHA
            </div>
            <div class="text-center h2" [ngStyle]="{color:'white'}">
                Software Engineer
            </div>
        </div>
    </div>
    
</div>
<div> 
    <hr>
</div> -->

<div class="image">
        <div class="image-text">
            <h1 >
                MANISH KOTECHA
            </h1>
            <h2 >
                Software Engineer
            </h2>
        </div>
</div>
